# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/css/.sass-cache/dcefae19445c5c87ba6c22200c99b53c1f530388/core.scssc
